{% extends 'base.html' %}
{% block title %}工程案例{% endblock %}
{% block content %}
<h1>工程案例</h1>
<hr>
<div class="row">
    <div class="col-md-4"><div class="card p-3"><h5>太古城 - 全屋鋁窗防水</h5><p>更換防水膠邊、窗框打膠</p><span class="badge bg-success">防水工程</span></div></div>
    <div class="col-md-4"><div class="card p-3"><h5>黃埔花園 - 強制驗窗</h5><p>更換7副不鏽鋼窗鉸</p><span class="badge bg-primary">強制驗窗</span></div></div>
    <div class="col-md-4"><div class="card p-3"><h5>麗港城 - 緊急維修</h5><p>颱風後窗扇鬆脫加固</p><span class="badge bg-danger">緊急維修</span></div></div>
</div>
{% endblock %}
